<%- include('../../partials/head', {title: "Políticas de privacidade"}) %>

<body>
  <%- include('../../partials/main/nav') %>

  <div class="flex flex-col py-14 mx-10 lg:mx-60">
    <h1 class="made-tommy text-2xl font-semibold color-purple">POLÍTICAS DE PRIVACIDADE</h1>
    <p class="made-tommy text-lg"><em>Última atualização: 02/09/2023</em></p>

    <p class="made-tommy text-lg mt-4">Bem-vindo ao Plubee.net. A sua privacidade é muito importante para nós. Esta Política de Privacidade destina-se a explicar como coletamos, usamos e compartilhamos informações pessoais quando você usa o aplicativo Plubee.net.</p>
    <p class="made-tommy text-lg mt-2">Ao utilizar o Plubee.net, você concorda com os termos e condições desta Política de Privacidade. Se você não concordar com os termos aqui descritos, por favor, não utilize o aplicativo.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">1. Informações que Coletamos</h2>
    <ul class="list-disc mt-4 ml-10">
      <li class="made-tommy text-lg"><span class="color-purple font-medium">a. Informações de Registro:</span> Quando você se registra no Plubee.net, podemos coletar informações pessoais como seu nome, endereço de e-mail e outras informações de contato.</li>
      <li class="made-tommy text-lg"><span class="color-purple font-medium">b. Informações de Uso:</span> Quando você utiliza o Plubee.net, podemos coletar informações sobre como você interage com o aplicativo, incluindo dados de uso, atividades, visualizações de página, entre outros.</li>
      <li class="made-tommy text-lg"><span class="color-purple font-medium">c. Informações de Conexão:</span> Podemos coletar informações sobre seu dispositivo, navegador, endereço IP e sistema operacional.</li>
    </ul>

    <h2 class="made-tommy text-xl font-semibold mt-10">2. Uso das Informações</h2>
    <p class="made-tommy text-lg">Utilizamos as informações coletadas para os seguintes fins:</p>

    <ul class="list-disc mt-4 ml-10">
      <li class="made-tommy text-lg"><span class="color-purple font-medium">a. Fornecer e Melhorar o Serviço:</span> Utilizamos as informações para operar, manter e melhorar o Plubee.net, oferecendo a você uma experiência personalizada e eficaz.</li>
      <li class="made-tommy text-lg"><span class="color-purple font-medium">b. Comunicação:</span> Podemos entrar em contato com você para fornecer informações importantes sobre o aplicativo, como atualizações, alterações nos termos de uso ou questões relacionadas à sua conta.</li>
      <li class="made-tommy text-lg"><span class="color-purple font-medium">c. Análises e Pesquisas:</span> Utilizamos informações de uso para análises internas e pesquisas para entender como os usuários interagem com o aplicativo e melhorar nossos serviços.</li>
    </ul>

    <h2 class="made-tommy text-xl font-semibold mt-10">3. Compartilhamento de Informações</h2>
    <p class="made-tommy text-lg">Não compartilharemos suas informações pessoais com terceiros, exceto nas seguintes circunstâncias:</p>

    <ul class="list-disc mt-4 ml-10">
      <li class="made-tommy text-lg"><span class="color-purple font-medium">a. Consentimento:</span> Compartilharemos suas informações pessoais com terceiros apenas com seu consentimento explícito.</li>
      <li class="made-tommy text-lg"><span class="color-purple font-medium">b. Prestadores de Serviços:</span> Podemos compartilhar informações com prestadores de serviços terceirizados que nos auxiliam na operação do Plubee.net, suporte ao cliente e análises de dados.</li>
      <li class="made-tommy text-lg"><span class="color-purple font-medium">c. Conformidade Legal:</span> Podemos compartilhar informações quando acreditarmos que a divulgação é necessária para cumprir com obrigações legais, proteger nossos direitos, segurança e propriedade, ou investigar atividades ilegais.</li>
    </ul>

    <h2 class="made-tommy text-xl font-semibold mt-10">4. Política de Cookies</h2>
    <p class="made-tommy text-lg">O Plubee.net utiliza cookies para melhorar sua experiência no aplicativo. Saiba mais sobre como utilizamos cookies consultando nossa <a href="[Inserir link para a política de cookies]">Política de Cookies</a>.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">5. Políticas da Plataforma do Facebook</h2>
    <p class="made-tommy text-lg">O Plubee.net segue rigorosamente as políticas da plataforma do Facebook. Para mais informações sobre essas políticas, consulte as <a href="[Inserir link para as políticas da plataforma do Facebook]">Políticas da Plataforma do Facebook</a>.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">6. Suas Escolhas</h2>
    <p class="made-tommy text-lg">Você pode gerenciar suas preferências de privacidade dentro do aplicativo Plubee.net. Você também tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Para fazer isso, entre em contato conosco através dos canais de suporte fornecidos no aplicativo.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">7. Atualizações na Política de Privacidade</h2>
    <p class="made-tommy text-lg">Esta Política de Privacidade pode ser atualizada ocasionalmente para refletir mudanças em nossas práticas de coleta e uso de informações. Recomendamos que você reveja periodicamente esta página para se manter informado sobre as políticas de privacidade do Plubee.net.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">8. Contato</h2>
    <p class="made-tommy text-lg">Se você tiver alguma dúvida ou preocupação sobre esta Política de Privacidade, entre em contato conosco pelo e-mail <span class="color-purple">contato@plubee.net</span>.</p>
  </div>

  <%- include('../../partials/main/footer') %>
</body>
</html>