<%- include('../../partials/head', { title: "Termos de uso" }) %>

<body>
  <%- include('../../partials/main/nav') %>

  <div class="flex flex-col py-14 mx-10 lg:mx-60">
    <h1 class="made-tommy text-2xl font-semibold color-purple">TERMOS DE USO E CONDIÇÕES DO APLICATIVO PLUBEE.NET</h1>
    <p class="made-tommy text-lg"><em>Última atualização: 06/09/2023</em></p>

    <p class="made-tommy text-lg mt-4">Estes Termos de Uso e Condições ("Termos") regem o uso do nosso aplicativo, plubee.net, e todas as suas funcionalidades relacionadas, incluindo, mas não se limitando a, postagem em grupos e páginas do Facebook e agendamento de publicações ("Aplicativo").</p>
    <p class="made-tommy text-lg mt-2">Ao acessar ou usar nosso Aplicativo, você concorda com estes Termos e com as políticas do Facebook, e concorda em cumprir todas as leis e regulamentações aplicáveis. Se você não concorda com estes Termos, não use nosso Aplicativo.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">1. Permissões do Facebook</h2>
    <p class="made-tommy text-lg">Para oferecer os serviços do nosso Aplicativo, solicitaremos permissões para acessar certos recursos da sua conta no Facebook, incluindo a capacidade de:</p>
    <ul class="list-disc mt-4 ml-10">
      <li class="made-tommy text-lg color-purple">Postar em grupos e páginas do Facebook em seu nome.</li>
      <li class="made-tommy text-lg color-purple">Agendar publicações em grupos e páginas do Facebook em seu nome.</li>
      <li class="made-tommy text-lg color-purple">Acessar informações públicas e não públicas da sua conta do Facebook conforme necessário para as funcionalidades do nosso Aplicativo.</li>
    </ul>

    <h2 class="made-tommy text-xl font-semibold mt-10">2. Uso Responsável</h2>
    <p class="made-tommy text-lg">Você concorda em usar nosso Aplicativo de maneira responsável e de acordo com as políticas do Facebook. Isso inclui não violar direitos autorais, não espalhar conteúdo difamatório, não praticar spam e não realizar atividades fraudulentas. Qualquer uso indevido do nosso Aplicativo pode resultar na suspensão ou encerramento da sua conta.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">3. Privacidade e Segurança</h2>
    <p class="made-tommy text-lg">Levamos a sua privacidade a sério. Consulte nossa Política de Privacidade para obter informações sobre como coletamos, usamos e protegemos seus dados. Lembre-se de manter suas credenciais de login seguras e não compartilhar suas informações de acesso a terceiros.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">4. Modificações nos Termos</h2>
    <p class="made-tommy text-lg">Reservamo-nos o direito de modificar ou atualizar estes Termos a qualquer momento, sem aviso prévio. As alterações entrarão em vigor na data da publicação dos Termos revisados. É sua responsabilidade verificar periodicamente os Termos para estar ciente de quaisquer atualizações.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">5. Encerramento de Conta</h2>
    <p class="made-tommy text-lg">Reservamo-nos o direito de encerrar ou suspender sua conta a qualquer momento, por qualquer motivo, incluindo a violação destes Termos ou das políticas do Facebook.</p>

    <h2 class="made-tommy text-xl font-semibold mt-10">6. Contato</h2>
    <p class="made-tommy text-lg">Se você tiver alguma dúvida, comentário ou preocupação sobre estes Termos ou nosso Aplicativo, entre em contato conosco pelo e-mail <span class="color-purple">contato@plubee.net</span>.</p>
  </div>

  <%- include('../../partials/main/footer') %>
</body>
</html>