<footer class="bg-white py-4 pl-10 sm:pl-80 hidden" aria-labelledby="footer-heading">
  <p class="text-sm font-medium text-black fire-sans">&copy; 2023 pluBee.net. <a class="underline" href="/terms-of-use">Termos de uso</a> | <a class="underline" href="/privacy-policy">Políticas de privacidade</a></p>
</footer>