<aside class="relative bg-white">
  <div class="navbar-menu relative z-50 hidden xl:flex xl:flex-col" id="sidebar">
    <div class="navbar-backdrop fixed xl:hidden inset-0 bg-gray-800 opacity-10"></div>
    <div class="fixed inset-0 max-w-xss bg-primary border-r">
      <div class="px-7 py-6 pb-0">
        <div class="flex justify-between items-center xl:flex-none w-auto mt-2">
          <a class="inline-block" href="/app">
            <img class="w-32" src="/img/landingpage/logo-mypost-orange.png">
          </a>

          <div class="xl:hidden">
            <button onclick="closeSidebar()" class="navbar-burger text-white focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>              
            </button>
          </div>
        </div>
      </div>
      
      <div class="flex-1 flex flex-col justify-between py-8 overflow-x-hidden">
        <ul class="items px-7 pb-28 -m-2.5 overflow-y-auto scrollbar-thin scrollbar-thum-rose-500 scrollbar-track-slate-700 h-screen mr-0.5">
          <li class="w-auto p-2.5 rounded-[10px] hover:bg-secondary">
            <a class="flex flex-wrap items-center" href="/app">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>              
              <p class="text-white font-medium">Dashboard</p>
            </a>
          </li>
          <li class="w-auto mt-6">
            <p class="pl-2.5 text-xs text-white font-medium uppercase mb-4">Funções</p>
            <a class="flex flex-wrap items-center p-2.5 rounded-[10px] hover:bg-secondary" href="/app/all-posts">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
              </svg>                            
              <p class="text-white font-medium">Publicações</p>
            </a>
          </li>
          <li class="w-auto p-2.5 rounded-[10px] hover:bg-secondary">
            <a class="flex flex-wrap items-center" href="/app/create-post">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>                            
              <p class="text-white font-medium">Nova publicação</p>
            </a>
          </li>
          <li class="w-auto mt-6">
            <p class="pl-2.5 text-xs text-white font-medium uppercase mb-4">Contas</p>
            <a class="flex flex-wrap items-center p-2.5 rounded-[10px] hover:bg-secondary" href="/app/social-accounts">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
              </svg>                                          
              <p class="text-white font-medium">Contas sociais</p>
            </a>
          </li>
          <li class="w-auto p-2.5 rounded-[10px] hover:bg-secondary">
            <a class="flex flex-wrap items-center" href="/app/groups">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>                                          
              <p class="text-white font-medium">Meus grupos</p>
            </a>
          </li>
          
          <!-- CODDING: Configurações -->
          <li class="w-auto mt-6">
            <p class="pl-2.5 text-xs text-neutral-200 font-medium uppercase mb-4">Conta</p>
            <a class="flex flex-wrap items-center p-2.5 rounded-[10px] hover:bg-secondary" href="/app/settings">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mr-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>                                                                      
              <p class="text-white font-medium">Configurações</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script src="/js/sidebar/sidebar.js"></script>