<%- include('../../partials/head', {title: "Recuperar senha" }) %>

<body>
  <%- include('../../partials/main/nav') %>

  <div class="px-8 py-12 sm:px-0 sm:py-24 bg-gray-100 fade-in">
    <div class="max-w-lg mx-auto my-10 p-12 rounded-xl">
      <h1 class="text-gray-800 font-bold text-3xl mb-1 text-center">Esqueceu a senha?</h1>
      <p class="text-lg font-normal text-gray-600 mb-7 text-center">Insira o email associado à sua conta e enviaremos um link de redefinição de senha.</p>

      <div class="flex flex-col space-y-5 mt-6">
        <label for="email">
          <p class="font-medium text-slate-700 pb-2">Endereço de email</p>
          <input id="email" name="email" type="email" class="w-full py-3 border border-gray-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Insira o endereço de email">
        </label>
          
        <button onclick="forgotPassword()" class="w-full py-3 font-medium text-white bg-primary rounded-lg inline-flex space-x-2 items-center justify-center">
          <span>Enviar link</span>
        </button>
      </div>
    </div>
  </div>

  <%- include('../../partials/main/footer') %>
</body>

<script src="/js/auth/forgot-password.js"></script>

</html>