<%- include('../../partials/head', {title: "Login" }) %>

<body>
  <%- include('../../partials/main/nav') %>

  <div class="pt-[220px] flex min-h-full items-center justify-center px-4 py-20 sm:px-6 lg:px-8 bg-gray-100">
    <div class="w-full max-w-sm space-y-10">
      <div>
        <img class="mx-auto h-24 w-auto" src="/img/landingpage/logo-laranja.png" alt="pluBee Icone">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 made-tommy">Realize o login na sua conta</h2>
      </div>
      <div class="space-y-6">
        <div>
          <div>
            <label for="email" class="sr-only">Endereço de email</label>
            <input id="email" name="email" type="email" autocomplete="email" class="relative block w-full rounded-t-lg border border-primary text-sm px-2 py-2 text-gray-900 placeholder:text-gray-400 made-tommy" placeholder="Endereço de email">
          </div>
          <div>
            <label for="password" class="sr-only">Senha</label>
            <input id="password" name="password" type="password" class="relative block w-full rounded-b-lg border border-primary text-sm px-2 py-2 text-gray-900 placeholder:text-gray-400 made-tommy" placeholder="Sua senha">
          </div>
        </div>
  
        <div class="flex items-center justify-center">
          <div class="text-sm leading-6">
            <a href="/auth/forgot-password" class="font-semibold text-primary">Esqueceu a senha?</a>
          </div>
        </div>
  
        <div>
          <button onclick="login()" class="flex w-full justify-center rounded-lg px-3 py-2.5 text-sm font-semibold leading-6 text-white bg-primary made-tommy">Entrar</button>
        </div>
      </div>
  
      <p class="text-center text-sm leading-6 text-gray-500">
        Não é um membro?
        <a href="/#plans" class="font-semibold text-primary">Adquira um plano e obtenha 7 dias de garantia!</a>
      </p>
    </div>
  </div>

  <%- include('../../partials/main/footer') %>
</body>

<script src="/js/auth/login.js"></script>
<script src="/js/alert-message/alert-message.js"></script>

</html>