<%- include('../../partials/head', {title: "Recuperar senha" }) %>

<body>
  <%- include('../../partials/main/nav') %>

  <div class="px-8 py-12 sm:px-0 sm:py-24 fade-in bg-gray-100">
    <div class="max-w-lg mx-auto my-10 p-12 rounded-xl">
      <h1 class="text-gray-800 font-bold text-3xl mb-1 text-center">Redefinir senha</h1>
      <p class="text-lg font-normal text-gray-600 mb-7 text-center">Insira sua nova senha no campo abaixo.</p>

      <div class="flex flex-col space-y-5 mt-8">
        <label for="password">
          <p class="font-medium text-slate-700 pb-2">Nova senha</p>
          <input id="password" name="password" type="password" class="w-full py-3 border border-gray-200 rounded-lg px-3" placeholder="Insira a nova senha">
        </label>
          
        <button onclick="resetPassword()" class="w-full py-3 font-medium text-white bg-purple rounded-lg inline-flex space-x-2 items-center justify-center">
          <span>Redefinir senha</span>
        </button>
      </div>
    </div>
  </div>

  <%- include('../../partials/main/footer') %>
</body>

<script src="/js/auth/reset-password.js" token="<%= token %>"></script>

</html>